<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- SDL's Android haptics call Vibrator.cancel() unconditionally, which
         throws without this and poisons the next JNI call. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- The Archipelago client opens a WebSocket to the server. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.metroidprime.port.MetroidPrimeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="density|fontScale|fontWeightAdjustment|grammaticalGender|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
